<%= stylesheet_link_tag 'commit-page'%>
<%= render "layouts/topmenu_bar", user: @user %>
<%= render "layouts/sidebar_menu", user: @user %>
<%= javascript_include_tag "project.js" %>

<div class="container" >
  <div class="row">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header">
           <div class = "row">
              <div class = "col s8">
                <h4>Last Deployed Commit</h4>
              </div>
            </div>
        </li>
          <li class="collection-item" style="padding-left: 0px;">
            <div class="row">
              <% commit = @all_commits_after_last_deployed_commit[@all_commits_after_last_deployed_commit.length-1] %>
              <div class="col s7">
                <div class="row">
                  <div class="col s1">
                    <img src="/assets/commit.png"  width="25" height="25">
                  </div>
                  <div class="col s11">
                    <a class="tooltipped"  data-position="top"  data-tooltip="<%=commit["message"]%>" style="color: #757575"><% if commit["message"].length > 50; message = commit["message"][0..50] + "...";else message = commit["message"]; end %><%= message  %></a>
                    <p class="project_description"> <%= commit["short_id"] %></p>
                  </div>
                </div>
              </div>
              <div class="col s5" >
                <% time = commit["created_at"][0...19]+"Z" %>
                <p class = "time-p">Last Updated : <%= Time.zone.parse(time) %></p>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header">
           <div class = "row">
              <div class = "col s8">
                <h4>Undeployed Commits</h4>
              </div>
            </div>
        </li>
        <% @all_commits_after_last_deployed_commit.each_with_index do |commit, index|  %>
          <% if index < @all_commits_after_last_deployed_commit.length-1 %>
            <li class="collection-item" style="padding-left: 0px;">
              <div class="row">
                  <div class="col s7 column">
                    <div class="row">
                        <div class="col s1 column">
                          <img src="/assets/commit.png"  width="25" height="25">
                        </div>
                        <div class="col s11 column">
                          <% if commit["message"].length > 50; message = commit["message"][0..50] + "...";else message = commit["message"]; end %>
                          <%= link_to message , user_project_commit_url(:project_id => @project_id, :user_id => @user_id, :id => commit["short_id"], last_deployed_commit: @last_deployed_commit["short_id"], project_name: @project_name, job_name: @selected_job_name ),
                             class: 'tooltipped', data: { position: 'top', tooltip: commit["message"] } %>
                          <p class="project_description"> <%= commit["short_id"] %></p>
                        </div>
                    </div>
                  </div>
                  <div class="col s5 project_date column" >
                    <% time = commit["created_at"][0...19]+"Z" %>
                    <p class = "time-p">Last Updated : <%= Time.zone.parse(time) %></p>
                  </div>
                </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<footer class="page-footer"></footer>
