<%= stylesheet_link_tag 'commit-page'%>
<%= render "layouts/topmenu_bar", user: @user %>
<%= render "layouts/sidebar_menu", user: @user %>

<button class=" btn fab fixed-button waves-effect waves-light" onclick="location.href = '/deployments/new?user_id=<%=@user_id %>&project_id=<%=@project_id%>&commit_id=<%=@destination_commit %>&project_name=<%=@project_name%>&last_deployed_commit=<%=@source_commit%>'">Checklist</button>

<div class = "row ">
  <div class = "card diff-heading">
    <h3>Diff of <%=@source_commit %> : <%=@destination_commit %></h3>
  </div>
</div>

<div class="container">
  <% @commit_diff.each do |diff| %>
  	<div class="card diff-heading">
    		<h4><b><%= diff["new_path"] %></b></h4>
        <hr>
    		<div class="card-content" style="text-align: left; margin:0px; padding: 0px;" >
  			<% diffs = diff["diff"] %>
  				<% diffs.each_line do |line|  %>
  					<%if !line.include?("+++") && !line.include?("---") %>
  						<%if line[0]=='+' %>
  						<pre style="background-color:  #E3FAE8;margin:0px;"><%= line %></pre>
  						<%elsif line[0]=='-' %>
  						<pre style="background-color: #F4D8DC;margin:0px;"><%= line %></pre>
  						<% else %>
  						<pre style="margin:0px;"><%= line %></pre>
  						<% end %>
  					<% end %>
  			<% end %>
    		</div>
  	</div>
  <% end %>
</div>


<footer class="page-footer"></footer>
