<!DOCTYPE html>
<html>
  <head>
    <title>GO - DEPLOY</title>

  </head>

  <body>
    <p><h3>Project Name: <%= @deployment.project_name %> </h3>
        Hey, <b><%=User.find(@deployment.reviewer_id).name.upcase%></b> just changed the status of your deployment request to
        <% if @deployment.status == "Approved" %>
          <h4><font color="green"><%=@deployment.status%></font></h4>
        <% else %>
          <h4><font color="red"><%=@deployment.status%></font></h4>
        <% end %>
    </p>
	<%= link_to "Deployment History" , Figaro.env.diff_base_url + "/users/" + @deployment.user_id.to_s %>
  </body>
</html>
