<!DOCTYPE html>
<html lang="en">
<head>
 <title>GO-Deploy</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
 <%= stylesheet_link_tag  'project-page'%>
</head>
<body>

<div id="menu-nav">
  <div id="navigation-bar">
    <ul>
     <li><a href="#" style = "color: #00FF00;">Projects</a></li>
     <li><a href="#"><span>Commits</span></a></li>
     <li><a href="#"><span>Checklist</span></a></li>
     <li><a href="#"><span>Approval</span></a></li>
     <li><a href="#" ><span>Deploy</span></a></li>
   </ul>
   <ul class="timeline" id="timeline">
     <li class="li">
       <div class="status">
         <h4> Project Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Commit Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Checklist Filled </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Deploy Approved </h4>
       </div>
     </li>
    </ul>
 </div>
</div>


<div id="container">
    <div id="searchbar">
      <form action="/users/project" method="get">
        <input type="text" style="float:left" placeholder="Search Your Projects" name="search_query"/>
        <input id="btn" style="float:right" type=submit formmethod="get">
      </form>
    </div>
</div>


<div class="container" >
  <% @projects.each do |project| %>
  <div class="row">
    <div class="col-xs-7 col-md-7 column" style="height :20px">
      <div class="row">
        <div class="col-xs-1 col-md-1 column"><img class=".img-fluid. max-width: 100%; height: auto;" style="margin:0px 0px" class="img-responsive column" src="/assets/folderlogo.png"  width="25" height="25"></div>
        <div class="col-xs-11 col-md-11 column"><h3 style="margin: 0px 0px" class="project_title"> <%= link_to project["name"]  , users_project_path(:project_id => project["id"]) %></h3><p class="project_description"> <%= project["description"] %></p></div>
      </div>
    </div>
    <div class="col-xs-5 col-md-5 project_date column" >


      <% time = project["last_activity_at"] %>
      Last Updated : <%= time %>

  </div>
</div>
<br>
<br>
<hr>
   <% end %>
</div>
<div style="text-align: center;">
 <% for i in  1..@number_of_pages do %>
<h4><strong>  <%= link_to "#{i}", users_project_url(:page_id => i)%> :</h4>
  <% end %>
</div>
</body>
</html>
