<%= stylesheet_link_tag 'deployment-page'%>
<%= render "layouts/topmenu_bar", user: @user %>
<%= render "layouts/sidebar_menu", user: @user %>
<%= javascript_include_tag "user.js" %>

<div id="consent" class="modal">
    <div class="modal-content">
      <h4>Consent Form</h4>
      <p>I acknowledge the approval of the requested deployement and is going to trigger the same.</p>
      <p>Allow redirection to gitlab pipeline and sending of notifiaction to the choosen mail group.</p>
      <div class="input-field col s12">
      	<% users = User.all %>
		    <select id="team_email">
		      <option value="" disabled selected>Select your team mail</option>
		      <% users.each do |user| %>
		      	<option value="<%= user.email %>"><%= user.email %></option>
		      <% end %>
		    </select>
		  </div>
    </div>
    <div class="modal-footer">
      <a onclick="close_click()" class="modal-close waves-effect waves-green btn-flat agree">Close</a>
      <a onclick="agree_click()" id="agree" class="modal-close waves-effect waves-green btn-flat agree">Agree</a>
    </div>
</div>

<div class="container deployment-container table-container">
	<div class="card card-heading">
		<h4 style="text-align:center;"> Deployment History </h4>
	</div>
</div>
<div class="container table-container deployments-done-container">
	<div class= "card">
		<table class="table highlight responsive-table striped centered">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Title</th>
					<th>Commit ID</th>
					<th>Reviewer</th>
					<th>Status</th>
					<th>Last Activity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% @user_deployments.each do |deployment| %>
				<tr>
					<td><%= deployment.project_name %></td>
					<td><%= link_to JSON.parse(deployment.checklist)["title"], deployment_url(id: deployment.id) %></td>
					<td><%= link_to deployment.commit_id, generate_user_specific_diff_link(deployment.diff_link, @current_user.id), target: :_blank%></td>
					<td><%= User.where(:id => deployment.reviewer_id).first.name %></td>
					<td><%= deployment.status %></td>
					<td><%= deployment.updated_at.to_s(:rfc822)[4..24] %></td>
					<% if deployment.status == "Approved" %>
					<td> <button onclick="button_click('<%= deployment.id %>')" data-target="consent" class="btn modal-trigger">Deploy</button></td>
					<% else %>
					<td></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

</div>
<% if !@user_reviews.blank? %>
	<div class="container deployment-container table-container ">
		<div class="card card-heading">
			<h4 style="text-align:center;"> Review History </h4>
		</div>
	</div>
	<div class="container table-container">
		<div class= "card">
			<table class="table highlight responsive-table striped centered">
				<thead class="thead-dark">
					<tr>
						<th>Project Name</th>
						<th>Title</th>
						<th>Commit ID</th>
						<th>Deployer</th>
						<th>Status</th>
						<th>Last Activity</th>
						<th>Checklist</th>
					</tr>
				</thead>
				<tbody>
					<% @user_reviews.each do |reviews| %>
					<tr>
						<td><%= reviews.project_name %></td>
						<td><%= JSON.parse(reviews.checklist)["title"] %></td>
						<td><%= link_to reviews.commit_id, generate_user_specific_diff_link(reviews.diff_link, @current_user.id), target: :_blank%></td>
						<td><%= User.where(:id => reviews.user_id).first.name %></td>
						<td><%= reviews.status %></td>
						<td><%= reviews.updated_at.to_s(:rfc822)[4..24] %></td>
						<td><%= link_to "Link", deployment_url(id: reviews.id), target: :_blank%></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>


<footer class="page-footer"></footer>
