
<head>
 <title>GO-Deploy</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
 <%= stylesheet_link_tag  'project-page'%>
</head>
<body>

<div id="menu-nav">
  <div id="navigation-bar">
    <ul>
     <li><a  style = "color: #00FF00;">Projects</a></li>
     <li><a ><span>Commits</span></a></li>
     <li><a><span>Checklist</span></a></li>
     <li><a ><span>Approval</span></a></li>
     <li><a ><span>Deploy</span></a></li>
   </ul>
   <ul class="timeline" id="timeline">
     <li class="li">
       <div class="status">
         <h4> Project Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Commit Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Checklist Filled </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Deploy Approved </h4>
       </div>
     </li>
    </ul>
 </div>
</div>

<div class="fixed-username" >
  Hello, <%= @user.name %>
</div>
<div class="fixed-logout" >
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% end %>
</div>

<div id="container">
    <div id="searchbar">
      <form action="/users/<%= "#{@user.id}" %>/projects" method="get">
        <input type="text" style="float:left" placeholder="Search Your Projects" name="search_query"/>
        <input id="btn" style="float:right" type=submit formmethod="get">
      </form>
    </div>
</div>


<div class="container" >
  <% @projects.each do |project| %>
  <div class="row">
    <div class="col-xs-7 col-md-7 column" style="height :20px">
      <div class="row">
        <div class="col-xs-1 col-md-1 column"><img class=".img-fluid. max-width: 100%; height: auto;" style="margin:0px 0px" class="img-responsive column" src="/assets/folderlogo.png"  width="25" height="25"></div>
        <div class="col-xs-11 col-md-11 column"><h3 style="margin: 0px 0px" class="project_title"> <%= link_to project["name"]  , user_project_path(:id => project["id"], :user_id => @user.id) %></h3><p class="project_description"> <%= project["description"] %></p></div>
      </div>
    </div>
    <div class="col-xs-5 col-md-5 project_date column" >


      <% time = project["last_activity_at"] %>
      Last Updated : <%= time %>

  </div>
</div>
<br>
<br>
<hr>
   <% end %>
</div>

<div class="container"  >
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style=""  >
      <div class="btn-group mr-2" role="group" aria-label="First group" style=" margin-left: 40%" >
          <button type="button" class="btn btn-secondary btn-center pull-left "  style="background-color: black;  " ><%= link_to_if  !@projects.headers["x-prev-page"].blank?, "Prev", user_projects_url(:page_id => @projects.headers["x-prev-page"], :user_id => @user.id)%></button>
          <button type="button" class="btn btn-secondary btn-center pull-left "  style="background-color: black;  "><%= link_to_if !@projects.headers["x-next-page"].blank?, "Next", user_projects_url(:page_id => @projects.headers["x-next-page"], :user_id => @user.id)%></button>
        </div>
    </div>
</div>
</body>
