<%= stylesheet_link_tag  'project-page'%>
<%= render "layouts/topmenu_bar", user: @user %>
<%= render "layouts/sidebar_menu", user: @user %>

<div class = "container-collapses">
    <div class="row">
      <div class="card-panel white ">
        <h2><%= @projects_details["name"] %></h2>
        <p><%= @projects_details["description"] %></p>
        <div class = "row">
          <div class= "col s6"><span class = "span-left">Total commits: <%= @projects_details["statistics"]["commit_count"]%> </span></div>
          <div class= "col s6"><span class = "span-right"><% time = Time.zone.rfc3339(@projects_details["last_activity_at"]) %> Last Updated : <%= time.to_s(:rfc822)[6..24]%></span></div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="card">
      <ul class="collection with-header">
        <li class="collection-header">
           <div class = "row">
              <div class = "col s4">
                <h4>Stages</h4>
              </div>
              <div class = "col s8 jobs">
                <h4 class = "job">Jobs</h4>
              </div>
            </div>
        </li>
        <% @stages.each do |stage, jobs| %>
          <li class="collection-item">
            <div class = "row stagename-row">
              <div class = "col s4">
                <h6><%= stage.capitalize %></h6>
              </div>
              <div class = "col s8 jobs">
              <% jobs.each do |job| %>
              <div class = "row">
                <p class = "span-right" ><%= link_to_if job["name"].include?("prod"), job["name"].capitalize, user_project_commits_path(user_id: @user.id, project_id: @projects_details["id"],job_name: job["name"], project_name: @projects_details["name"] )%></p><br>
              </div>
              <% end %>
              </div>
              </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<footer class="page-footer"></footer>
