<!DOCTYPE html>
<html lang="en">
<head>
 <title>GO-Deploy</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <%= stylesheet_link_tag  'project-page'%>

 <script>
$(document).ready(function(){
    $('[type="button"]').popover();
});

</script>
</head>
<body>

<div id="menu-nav">
  <div id="navigation-bar">
    <ul>
     <li><a href="<%=user_projects_path%>" style = "color: #00FF00;">Projects</a></li>
     <li><a href="/users/<%=@user.id%>/projects/<%=@projects_details["id"]%>/commits"><span>Commits</span></a></li>
     <li><a href="#"><span>Checklist</span></a></li>
     <li><a href="#"><span>Approval</span></a></li>
     <li><a href="#" ><span>Deploy</span></a></li>
   </ul>
   <ul class="timeline" id="timeline">
     <li class="li complete">
       <div class="status">
         <h4> Project Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Commit Selected </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Checklist Filled </h4>
       </div>
     </li>
     <li class="li">
       <div class="status">
         <h4> Deploy Approved </h4>
       </div>
     </li>
    </ul>
 </div>
</div>

<div class="fixed-username" >
  Hello, <%= @user.name %>
</div>
<div class="fixed-logout" >
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% end %>
</div>

<div class="container" style="max-width: 1400px;" >
<div class="card  " style="text-align: center;">
  <h4 class="card-header"  ><b style="text-align: center;  font-family:  'Lucida Sans', sans-serif;  font-weight: normal; line-height: 20px; margin: 0; color: #0a7fad;"><%= @projects_details["name"] %></b></h4>
  <div class="card-body">

    <p class="card-text" ><%= @projects_details["description"] %></p>
    <p class="card-text">Commit Count: <%= @projects_details["statistics"]["commit_count"] %>      </p>
     <p class="card-text">  Last Updated At: <%= @projects_details["last_activity_at"] %> </p>
  </div>
</div>
   </div>
   <br>
   <div class="container .table-responsive-md">
     <table class="table table-hover table-striped">
       <thead class="thead-dark">
            <tr>
              <th>Status</th>
            <th>Pipeline</th>
           <th>Commit</th>
           <th>Stages</th>
         </tr>
       </thead>
       <tbody>
         <% @pipelines.each do |pipeline| %>
         <tr>
           <td>
             <% if pipeline["status"] == "pending" %>
             <button type="button" class="btn btn-outline-secondary">Secondary</button>
             <% elsif pipeline["status"] == "success" %>
             <button type="button" class="btn btn-outline-success">Success</button>
             <% else %>
             <button type="button" class="btn btn-outline-danger">Danger</button>
             <% end %>
           </td>
           <td>
            #<%= pipeline["id"] %>
           </td>
           <td>
             master <img class=".img-fluid. max-width: 100%; height: auto;" style="margin:0px 0px" class="img-responsive column" src="/assets/commit.png"  width="15" height="15"> <%= pipeline["sha"][0..6] %>
             <p> <%= @jobs_hash[pipeline["id"]][0]["commit"]["message"] %> </p>
             <td>
              <% @stages_hash[pipeline["id"]].each do |stage, jobs| %>
              <% stage_type = "" %>
                <% jobs.each do |job| %>
                  <% if job["status"] == "failed" %>
                    <% stage_type = "failed" %>
                    <% break %>
                  <% elsif job["status"] == "pending" %>
                    <% stage_type = "pending" %>
                    <% break %>
                  <% else stage_type = "success" %>
                  <% end %>
                <% end %>
                  <% if stage_type == "failed" %>
                  <button type="button" class="btn btn-danger" data-toggle="popover" data-container="body" data-placement="bottom" title="<%= stage %>" data-html="true" data-content="
                    <%jobs.each do |job| %>
                    <% if job["name"].include?("canary") || job["name"].include?("prod") %>
                    <p><a href='/users/<%=@user.id%>/projects/<%=@projects_details["id"]%>/commits?job_name=<%=job["name"]%>' ><%= job["name"]%></a></p>
                    <% else %>
                    <p><%= job["name"] %></p>
                    <% end %>
                    <% end %>" style="border-radius: 100%;"><span class="glyphicon glyphicon-remove"></span></button>
                <% elsif stage_type == "success" %>
                  <button type="button" class="btn btn-success" data-toggle="popover" data-container="body" data-placement="bottom" rel="popover" title="<%= stage %>" data-html="true" style="border-radius: 100%;"  data-content="
                    <%jobs.each do |job| %>
                    <% if job["name"].include?("canary") || job["name"].include?("prod")%>
                    <p><a href='/users/<%=@user.id%>/projects/<%=@projects_details["id"]%>/commits?job_name=<%=job["name"]%>' ><%= job["name"]%></a></p>
                    <% else %>
                    <p><%= job["name"] %></p>
                    <% end %>
                    <% end %> "> <span class="glyphicon glyphicon-ok"></span></button>
                <% else %>
                <button type="button" class="btn btn-secondary" data-toggle="popover" data-container="body" data-placement="bottom" rel="popover" title="<%= stage %>" data-html="true" style="border-radius: 100%;"  data-content="
                  <%jobs.each do |job| %>
                  <% if job["name"].include?("canary") || job["name"].include?("prod") %>
                  <p><a href='/users/<%=@user.id%>/projects/<%=@projects_details["id"]%>/commits?job_name=<%=job["name"]%>' ><%= job["name"]%></a></p>
                  <% else %>
                  <p><%= job["name"] %></p>
                  <% end %>
                  <% end %>"> <span class="glyphicon glyphicon-option-horizontal"></span></button>
                <% end %>

              <% end %>

            </td>
         </tr>
         <% end %>
       </tbody>
     </table>

   </div>


</body>

</html>
