<%= stylesheet_link_tag 'deployment-page'%>
<%= render "layouts/topmenu_bar", user: @user %>
<%= render "layouts/sidebar_menu", user: @user %>

<div class="container deployment-container table-container">
  <div class="card card-heading">
    <h4 style="text-align:center;"> Deployment History </h4>
  </div>
</div>
<div class="container table-container">
  <div class= "card">
    <table class="table highlight responsive-table striped centered">
      <thead class="thead-dark">
        <tr>
          <th>Project Name</th>
          <th>Title</th>
          <th>Commit ID</th>
          <th>Reviewer</th>
          <th>Status</th>
          <th>Last Activity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @deployments.each do |deployment| %>
          <tr>
            <% if !deployment.reviewer_id.blank? %>
            <td><%= deployment.project_name %></td>
            <td><%= JSON.parse(deployment.checklist)["title"] %></td>
            <td><%= deployment.commit_id %></td>
            <td><%= User.where(:id => deployment.reviewer_id).first.name %></td>
            <td><%= deployment.status %></td>
            <td><%= deployment.updated_at.to_s(:rfc822)[4..24] %></td>
              <% if deployment.status == "Approved" %>
              <td><%= link_to "Deploy", trigger_deployment_path(id: deployment.id) ,class: 'btn btn-success', :method => :post%></td>
              <% else %>
              <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<footer class="page-footer"></footer>
