<h2> Deployment History </h2>


<div class="container .table-responsive-md">
  <table class="table table-hover table-striped">
    <thead class="thead-dark">
         <tr>
           <th>Project Name</th>
           <th>Title</th>
           <th>Commit ID</th>
           <th>Reviewer</th>
           <th>Status</th>
        </tr>
    </thead>

    <tbody>
      <% @deployments.each do |deployment| %>
        <tr>
          <% if !deployment.reviewer_id.blank? %>
          <th><%= deployment.project_name %></th>
          <th><%= JSON.parse(deployment.checklist)["title"] %></th>
          <th><%= deployment.commit_id %></th>
          <th><%= User.where(:id => deployment.reviewer_id).first.name %></th>
          <th><%= deployment.status %></th>
          <% else %>
          <th><%= deployment.project_name %></th>
          <th></th>
          <th><%= deployment.commit_id %></th>
          <th></th>
          <th><%= deployment.status %></th>
          <th> <%= link_to "Delete", deployment_url(:id => deployment.id), :method => :delete ,data: { confirm: 'Are you sure?' }%> </th>
          <% end %>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
